<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title> Email Tina!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">

<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td style="padding: 20px 0 30px 0;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc;">
                <tr>
                    <td align="center" bgcolor="#70bbd9">
                        <img src="https://s3.ax1x.com/2020/12/03/D7TPzQ.jpg" alt="Creating Email Magic" width="100%"
                             style="display: block;"/>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
                                    <b>亲爱的会员!</b>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 20px 0 30px 0;">
                                    感谢你在Tina Flowers 中购买 !
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr>

                                            <td style="font-size: 0; line-height: 0;" width="20%">
                                                &nbsp;
                                            </td>
                                            <td width="322" valign="top">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td height="322" style="border: 1px solid #dfdede;">
                                                            <img th:src="${productImg}" alt=""
                                                                 width="100%" style="display: block;"/>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 10px 0 0 0;color: #153643;">
                                                            <a href=" http://qxsq6j.natappfree.cc/shop.html" style="color: #111;text-decoration: none;"> <b th:text="${productName}"></b></a>
                                                            <text th:text="${productPrice}" style="color: #CC2121"></text>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="font-size: 0; line-height: 0;" width="20%">
                                                &nbsp;
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#e1e1e1" style="padding: 10px 10px 10px 10px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td style="color: #555; font-family: Arial, sans-serif; font-size: 14px;">
                                    Copyright © 2020.Company Tina All<br/>
                                </td>
                                <td align="right">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <a href="https://gitee.com/tinaroot/flowers">
                                                    <img src="https://s3.ax1x.com/2020/12/03/D7b5OH.jpg" alt="Twitter"
                                                         width="38" height="38"
                                                         style="display: block;border-radius: 500rem;" border="0"/>
                                                </a>
                                            </td>
                                            <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
